mdl-input {
    display: block;
    width: 100%;

    .mat-form-field {
        width: 100%;
    }

    .mat-placeholder-required {
        color: red !important;
    }

    .app-main-content input.ng-invalid.ng-touched {
        border: none !important;
    }
}
