::ng-deep .mat-dialog-container {
  /* Đặt mặc định là medium */
  width: 600px;
}

::ng-deep .mat-dialog-container.sm {
  width: 400px !important;
  /* Kích thước nhỏ */
}

::ng-deep .mat-dialog-container.md {
  width: 600px !important;
  /* Kích thước trung bình */
}

::ng-deep .mat-dialog-container.lg {
  width: 800px !important;
  /* Kích thước lớn */
}

::ng-deep .mat-dialog-container.full {
  width: 100vw !important;
  /* Toàn màn hình */
  height: 100vh !important;
  /* Chiều cao toàn màn hình */
}

.mat-dialog-content {
  height: calc(100% - 52px);
}
