<div class="d-flex justify-content-between">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <div
    (click)="dialogRef.close()"
    class="cursor-pointer"
    style="font-size: 18px; color: rgba(0, 0, 0, 0.2)"
  >
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
</div>
<mat-dialog-content [ngClass]="dialogSize">
  <!-- <ng-container *ngIf="data.bodyComponent">
    <ng-container
      *ngComponentOutlet="data.bodyComponent"
    ></ng-container>
  </ng-container> -->
  <ng-container #dynamicContainer></ng-container>
</mat-dialog-content>
