.timepicker--toggle-btn {
  position: absolute;
  top: 3px;
  right: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
}
.mat-placeholder-required {
  color: red !important;
}