.toolbar-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #ffffff;
    height: 60px;
}

.toggle{
    cursor: pointer;
    padding: 10px;
    i-feather{
        color: #4a5565;
    }
    &:hover{
        i-feather{
            color: #000;
        }
        background-color: #e6e6e6;
        border-radius: 5px;
    }
    transition: all 0.25s ease;
}

.user-info{
}

.dropdown-menu  li{
    cursor: pointer;
}