.layout {
    display: flex;
    height: 100vh;
}

.layout-left {
    width: 300px;
    background: #ffffff;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: width 0.3s ease;
    
    &.collapsed {
        width: 80px;
    }
}

.layout-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    overflow: auto;
    background-color: #f9fafc;
}

/* Toolbar luôn dính trên cùng, nhưng chỉ trong layout-right */
.toolbar {
    position: sticky;
    height: auto;
    top: 0;
    z-index: 10;
    // background: rgb(210, 6, 6);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}