@use 'variables' as *;

.card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100px;
  height: 100vh;
  border-radius: 8px;
  background-color: #ffffff;
  margin-right: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid $primary-color;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .employee-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

.card-right{
    width: 100%;
    min-height: 100vh;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    
    .tab-content {
        margin-top: 20px;
    }
}